# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Tanks
/x64
/Tanks/x64
*.sln
*.user
*.filters
*.vcxproj
/Tanks/x64/Debug/Tanks.ilk
/Tanks/x64/Debug/Tanks.log
/Tanks/x64/Debug/Tanks.tlog/CL.read.1.tlog
/Tanks/x64/Debug/Tanks.tlog/CL.write.1.tlog
/Tanks/x64/Debug/Tanks.tlog/link.command.1.tlog
/Tanks/x64/Debug/Tanks.tlog/Tanks.lastbuildstate
/Tanks/x64/Debug/vc143.idb
/Tanks/x64/Debug/vc143.pdb
